{% extends "base.html" %}

{% block view_title %}
Agenda de citas
{% endblock %}

{% block content %}
{% include 'canvas_modal.html' %}
<section>
	<section class="row">
		<div class="col-12 col-lg-4">
			<div class="card rounded-4 agenda-card">
				<div class="card-body">
					<h6 class="card-subtitle d-flex justify-content-between mb-2 text-body-secondary mb-2 mb-lg-4">
						<span>Total de Citas</span>
						<span class="material-symbols-outlined text-primary">
							calendar_today
						</span>
					</h6>
					<h4 id="agenda_totals_id" class="card-title">0</h4>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="card rounded-4 agenda-card">
				<div class="card-body">
					<h6 class="card-subtitle d-flex justify-content-between mb-2 text-body-secondary mb-2 mb-lg-4">
						<span>Citas Atendidas</span>
						<span class="material-symbols-outlined text-success">
							check_circle
						</span>
					</h6>
					<h4 class="card-title">80</h4>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="card rounded-4 agenda-card">
				<div class="card-body">
					<h6 class="card-subtitle d-flex justify-content-between mb-2 text-body-secondary mb-2 mb-lg-4">
						<span>Citas Pendientes</span>
						<span class="material-symbols-outlined text-warning">
							pending_actions
						</span>
					</h6>
					<h4 class="card-title">64</h4>
				</div>
			</div>
		</div>
	</section>
	<section class="mt-3">
		<a type="button" class="btn btn-primary" href="{{ url_agenda_create }}">
			<span class="material-symbols-outlined fs-6">
				edit
			</span>
			Agendar
		</a>
	</section>
	<section class="table-container--custom">
		<table id="agenda_table" class="table table-hover ">
			<thead>
				<tr>
					<th scope="col">Días</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</section>
</section>
{% endblock %}
{% block extra_js %}
<script>
	const agendaStatusIcon = {
		pendiente: {
			icon: 'pending_actions',
			color: 'text-warning',
		},
		completada: {
			icon: 'check_circle',
			color: 'text-success',
		},
		cancelada: {
			icon: 'cancel',
			color: 'text-danger',
		},
	};
	$(() => {
		// Inicializar modal lateral
		// initializeCanvasBSModals();

		const filterData = {
			months: $('#{{ filter_form.months.id_for_label }}').val(),
		};

		const accordionItemTemplate = (accordionId, collapseId, data) => {
			console.log('data', data);
			return `<div id="${collapseId}" class="accordion-collapse collapse show" data-bs-parent="#${accordionId}">
				<div class="accordion-body ps-md-5">
					${Array.from(data).map(({ cliente_full_name, formatted_time, estado, cantidad_servicios }) => {
				return `<div class="mb-3 d-flex justify-content-between align-items-center">
					<div>
						<p class="mb-1">
							<b>
								<span class="material-symbols-outlined"> nest_clock_farsight_analog </span> ${formatted_time} -
							</b>
							${cliente_full_name} - 
							<span class="material-symbols-outlined ${agendaStatusIcon[estado].color}">${agendaStatusIcon[estado].icon}</span>
						</p>
						<p class="mb-0 ps-3 text-body-secondary text-small font-monospace">
							Servicios: ${cantidad_servicios}
						</p>
					</div>
					<div class="btn-group dropstart">
						<button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="material-symbols-outlined">
								more_vert
							</span>
						</button>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</div>
				</div>`;
			}).join('')}
				</div>
			</div>
			`;
		}

		const columnTemplate = ({ pk, date, agendas }) => {
			console.log('pk, date, agendas', pk, date, agendas);
			return `<div class="accordion" id="${pk}">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed bg-primary-subtle bg-gradient" type="button" data-bs-toggle="collapse" data-bs-target="#${pk}_collapse" aria-expanded="true" aria-controls="${pk}_collapse">
							<b>${date}</b>
						</button>
					</h2>
				${accordionItemTemplate(pk, `${pk}_collapse`, agendas)}
				</div>
			</div>`;
		}

		const dataTableConfig = {
			tableID: '#agenda_table',
			url: '{{ url_agenda_list }}',
			requestData: filterData,
			columns: [
				{ data: (data) => columnTemplate(data), className: 'w-100' },
			],
			extraConfig: {
				ordering: false,
				paging: false,
				info: false,
				ajax: {
					dataSrc: (json) => {
						$('#agenda_totals_id').text(json.recordsTotal);
						return json.data;
					},
				},
				customStartTop: () => `
					<div class="input-group">
						<span class="input-group-text">
							<span class="material-symbols-outlined text-primary">
								calendar_month
							</span>
						</span>
						{{ filter_form.months }}
					</div>
				`,
				drawCallback: () => {
					initializeMonthPickers();
				},
			},
		};
		const table = renderDataTable(dataTableConfig);
		$('#{{ filter_form.months.id_for_label }}').on('change', ({ target }) => {
			filterData.months = target.value;
			table.draw()
		});
	});
</script>
{% endblock %}