{% load static %}
<!-- Navbar que se expande en lg+ y usa offcanvas en pantallas menores -->
<nav class="navbar navbar--custom navbar-expand-lg navbar-dark bg-primary bg-gradient fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Salón Isidora</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments' %}">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'clients' %}">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Servicios</a>
          </li>
          <!-- Usuario y Configuración -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li>
                <h6 class="dropdown-header">Cuenta</h6>
              </li>
              <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
              <li><a class="dropdown-item" href="#">Configuración</a></li>
              <li><a class="dropdown-item" href="#">Cambiar Contraseña</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item text-danger" href="#">Cerrar Sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>